form {
    font-family: arial, sans-serif;
    text-align: center;
  }

th{
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

td{
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: left;
}

.smallertxt{
    font-family: arial, sans-serif;
    font-size: 11px;
    text-align: left;
}

.smallerheader{
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: rgb(58, 55, 55);
}

.btnalign{
    text-align: right;
}

.searchbox {   
    border-radius: 30px;
    border-color: rgb(206, 206, 206);
    border-width: 1px;
    font-size: 20px;
    padding: 5px;
    width: 540px;
    height: 30px;
    margin: 5px;
  }

.advsearchbox {   
    border-color: rgb(206, 206, 206);
    border-width: 1px;
    font-size: 20px;
    padding: 3px;
    width: 540px;
    height: 20px;
    margin: 5px;
  }


.submitbtn {   
      text-align: center;
      border-radius: 5px;
      outline:none;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 20px;
      padding-left: 20px;
      background: #fcfbfb;
      margin-top: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      border: none;
    }

.submitbtn:hover {   
      border-radius: 5px ;
      outline: 1px solid rgb(189, 187, 187);
      outline-offset: -4px;
      }

.advsubmitbtn {   
        font-family: arial, sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: white;
        border-radius: 5px;
        outline:none;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 15px;
        padding-left: 15px;
        background: #0568da;
        margin-top: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
      }

.advsubmitbtn:hover {   
        border-radius: 5px ;
        background: #064996;
        }
  
body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 24px;
    color: #212529;
  }

html {
    font-family: arial, sans-serif;
    font-size: 24px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

.searchform {
    margin-top: 180px;
    text-align: center;
  }

.searchlinks{
    text-align: right;
    padding: 20px;
  }

.basetext{
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(30, 8, 156);
  }

.basetext:hover{
    text-decoration: underline;
  }

.toplink{
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    margin: 5px;
  }

.toplink:hover{
      text-decoration: underline;
  }

.topheader{
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: red;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.advancedsearchform {
    padding-left: 50px;
    padding-top: 50px;
  }